{% extends "base.html" %}
{% load static %}

{% block title %} Strongmind Pizza - Home {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            
            {% if request.user.is_authenticated %}
                
                <h1>Welcome, {{request.user.username}}</h1>

                {% for group in request.user.groups.all %}
                    <label>{{group.name}}</label>
                {% endfor %}
                <br>
               
                {% for group in request.user.groups.all %}
                    {% if group.name == "Pizza Chef" or group.name == "Pizza Store Owner"%}
                        <a class="btn btn-primary" href="/pizza/build/" role="button">Manage Pizzas</a>
                    {% endif %}

                    {% if group.name == "Pizza Store Owner"%}
                        <a class="btn btn-primary" href="/pizza/toppings/" role="button">Manage Toppings</a>
                    {% endif %}

                {% endfor %}
                
            {% else %}
        
                <h1>Please Sign-In</h1>

                <br>
                <p>Demo Pizza Chef</p>
                <code>User: PizzaChef</code>
                <br>
                <code>Password: strongmindchef</code>

                <br><br>
                <p>Demo Pizza Store Owner</p>
                <code>User: StoreOwner</code>
                <br>
                <code>Password: strongmindown</code>

                <br><br><a class="btn btn-primary" href="/accounts/login/" role="button">Continue to Sign-In</a>

            {% endif %}
        
        </div>

    </div>


</div>

{% endblock content %}